@use 'modules/homepage'
@use "./var"

h1, h2, h3, h4, h5, h6, p, a, li, th, td, label
    font-family: var.$main-font

.row
    display: flex

.cell
    width: 50px
    height: 50px
    background-color: grey
    margin: 2px
    cursor: pointer

    &.selectedPlace
        background-color: red

#pieces
    display: flex
    margin-bottom: 20px

    div
        background-color: #c19595
        border-radius: 90px
        height: 50px
        width: 50px
        display: flex
        justify-content: center
        align-items: center
        margin: 2px
        cursor: pointer

        &:hover
            background-color: #907d7d

        img
            height: 35px
            width: 35px
        
        &.selectedPiece
            background-color: red